/* <-------Applikationens inställningar---------->*/
html { 
    background: url(../pics/paradise.png) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "HappyMonkey", "Arial", sans-serif;

}

#map-canvas {
        height: 60%;
        width: 60%;
        display: block;
        margin-top: 100px;
        margin-left: 55px;
        margin-right: 55px;
}

#markmap-canvas {
    height: 60%;
    width: 90%;
    margin-top: 10px;
    margin-left: 55px;
    padding: 0;
}

#buttonWrapper {
    margin-top: 100px;
    margin-left: 55px;
}

#maincontainer {
    width: 1100px;
    height: 1000px;
    margin: auto;
    background-color: #FFF;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
}

header {
    margin-left: 55px;
    padding-top: 1px;
}

#signout_link {
    display: none;
}

#signin {
    float:right;
    margin-right: 55px;
    font-size: 12px;
}

#signin_link,
#signout_link,
#signup_link {
    font-size: 16px;
}

#menu a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

#menu ul 
{
    list-style: none;
}

#menu > ul > li 
{
    float: left;
}

#current {
    background: #CFFFA1;
}

footer {
    font-size: 12px;
    text-align: center;
} 

a:hover, a:focus {
    background-color: #90C75D;
    color: #FFF;
}


/* <-------fotogalleriinställningar---------->*/
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
  
#inputDiv {
    margin-top: 200px;
    margin-left: 55px;
}
  

/*<------------Modala popupens inställningar------------>*/
.modal {
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 20px;
    display: block;
    position: absolute;
    top: 100px;
    right: 500px;
    width: 400px;
    height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(#DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
}

.modal button {
    margin-top: 35px;
    margin-right: 5px;
    padding: 3px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
    color: #FFF;
	-moz-box-shadow: 0 0 4px 0 #777;
	-webkit-box-shadow: 0 0 4px 0 #777;
	box-shadow: 0 0 4px 0 #777;
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px;  
    border-radius: 10px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #90C75D), color-stop(1, #CFFFA1) );
	background: -webkit-linear-gradient(top, #90C75D 5%, #CFFFA1 100%);
	background:-moz-linear-gradient( center top, #90C75D 5%, #CFFFA1 100% );
	background: -o-linear-gradient(top, #90C75D 5%, #CFFFA1 100%);
	background: linear-gradient(#90C75D 5%, #CFFFA1 100%);
}

#btnsignin {
    margin-left: 20px;
}

#btnsignin:hover,
#btnjoin:hover {
    color: #4B9962;
}

.background {
    background-color: black;
    opacity: 1;
    filter:Alpha(opacity=90);
    background-color: rgba(0,0,0,0.90);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

/* <-------Inloggningsinställningar---------->*/
#logincontainer {
    position: relative;
    width: 340px;
    height: 280px;
    margin-left: 30px;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;    
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#signin {
    text-align: center;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

#email,
#password {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#email:hover,
#password:hover,
#email:focus,
#password:focus {
    border: 1px solid #90C75D;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #56D4D3;
}

#lower {
    background: #CFFFA1;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
